from step.step import Step
from step.external_cli import handle_sub_steps

import typer


app = typer.Typer()


STEP_CHECKLIST_HERE


if __name__ == "__main__":
    typer.secho("STEP_NAME_HERE", fg=typer.colors.BRIGHT_BLACK)
    typer.secho("""
    STEP_DESCRIPTION_HERE""",
    fg=typer.colors.BRIGHT_BLACK)
    app()
